<div class='card'>
    <ul class="card-text">
        <li class="card-title">{{name}}</li>

        <li class="card-text__item">Capital: {{capital}}</li>

        <li class="card-text__item">Population: {{population}}</li>
        <li class="card-text__item card-text__item-list">Languages:
            <ul>
                {{#each languages}}
                <li class="card-text__language">{{name}}</li>
                {{/each}}
            </ul>
        </li>
    </ul>

    <div class="card-img">
        <img src="{{flag}}" alt="{{name}} flag" width='300' height="auto">
    </div>
</div>